<%
# frozen_string_literal: true
#
# Redmine plugin for xmera called Project Types Plugin.
#
# Copyright (C) 2017-21 Liane Hampe <liaham@xmera.de>, xmera.
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA. 
%>

  <fieldset class="box">
    <legend>
      <%= toggle_checkboxes_link("#custom_field_project_ids input[type=checkbox]:enabled") %>
      <%= l(:label_project_type_plural) %>
    </legend>

    <div id="custom_field_project_ids">
    <% if ProjectType.masters.any? %>
      <% project_type_ids = @custom_field.project_ids.to_a %>
      <%= tag.ul class: 'projects root' do %>
        <% ProjectType.masters.includes(:relatives).each do |project_type| %>
           <%= render partial: 'project_type_with_relatives', locals: { project_type: project_type, project_type_ids: project_type_ids } %>
        <% end %>
      <% end %>
      <%= hidden_field_tag('custom_field[project_ids][]', '', :id => nil) %>
    </div>
    <% else %>
      <%= tag.div l(:label_no_data), class: 'nodata half-width' %>
    <% end %>
  </fieldset>
