<%= title l(:label_confirmation) %>

<%= form_tag(project_type_path(@project_to_destroy), :method => :delete) do %>
<div class="warning">
<p><strong><%=h @project_to_destroy %></strong></p>

<p>
<%=l(:text_project_type_destroy_confirmation)%>
<br />
<% if @project_to_destroy.descendants.any?%>
  <br />
  <%= l(:text_subprojects_destroy_warning,
          content_tag('strong', @project_to_destroy.descendants.collect{|p| p.to_s}.join(', '))).html_safe %>
<% end %>
<% if @project_to_destroy.relatives.any? %>
  <br />
  <%= l(:text_relatives_destroy_warning,
          content_tag('strong', @project_to_destroy.relatives.collect{|p| p.to_s}.join(', '))).html_safe %>
<% end %>
</p>
<p>
  <label><%= check_box_tag 'confirm', 1 %> <%= l(:general_text_Yes) %></label>
</p>
</div>

<p>
  <%= submit_tag l(:button_delete) %>
  <%= link_to l(:button_cancel), :controller => 'project_types', :action => 'index' %>
</p>
<% end %>