<%
# frozen_string_literal: true
#
# Redmine plugin for xmera called Project Types Plugin.
#
# Copyright (C) 2017-21 Liane Hampe <liaham@xmera.de>, xmera.
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
%>

<div class="contextual">
	<%= link_to l(:label_project_type_new), new_project_type_path, :class => 'icon icon-add' %>
</div>


<h2><%= l(:label_project_type_plural) %></h2>

<% if @project_types.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
	<table class="list project_types">
	  <thead><tr>
	  <th class="name"><%=l(:label_project_type_name)%></th>
		<th class="name"><%=l(:field_description)%></th>
		<th class="center"><%=l(:field_is_public) %></th>
	  <%= call_hook(:view_project_types_table_header) %>
		<th class="name"><%=l(:label_master_project)%></th>
	  <th></th>
		<th></th>
	  </tr></thead>
	  <tbody>
	<% for type in @project_types %>
	  <tr>
	  <td class="name"><%= link_to type.name, edit_project_type_path(type) %></td>
		<td class="name"><%= type.description %></td>
		<td class="center"><%= checked_image type.is_public? %></td>
		<%= call_hook(:view_project_types_table_data, :project => @project_types, :type => type) %>
		<td class="name"><%= link_to_master type %></td>
	  <td></td>
	  <td class="buttons">
	    <%= reorder_handle(type) %>
	    <%= delete_link project_type_path(type) %>
	  </td>
	  </tr>
	<% end %>
  	</tbody>
	</table>
<% end %>

<% html_title(l(:label_project_type_plural)) -%>

<%= javascript_tag do %>
  $(function() { $("table.project_types tbody").positionedItems(); });
<% end %>