<div class="splitcontentright">
<% if ProjectType.any? %>
  <fieldset class="box" id="tracker_project_ids">
    <legend><%= toggle_checkboxes_link("#tracker_project_ids input[type=checkbox]") %><%= l(:label_project_type_plural) %></legend>
  <% project_type_ids = @tracker.project_type_ids.to_a %>
  <%= tag.ul class: 'projects root' do %>
    <% ProjectType.all.each do |project_type| %>
    <%= tag.li class: 'root' do %>
     <%= content_tag('label', check_box_tag('tracker[project_type_ids][]', project_type.id, project_type_ids.include?(project_type.id), :id => nil) + ' ' + h(project_type.name)) %>
     <% end %>
   <% end %>
  <% end %>
<%= hidden_field_tag('tracker[project_type_ids][]', '', :id => nil) %>
</fieldset>
<% end %>
</div>